#div1 {
    overflow:scroll;
    height:85vh;
    width: 160vh;
    align-content: center;

}
#div1 table {
   width:500px;
   background-color:lightgray;
}



.centrar {
    margin: auto;
    width: 66% !important; 
 }
